@import "../styles/variables";

.input {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: white;
  padding: .5rem .6rem;
  border: 1px solid $gray-6;
  border-radius: .25rem;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  font-size: 1rem;
  cursor: text;

  &:hover:not([aria-disabled=true], [aria-readonly=true]) {
    border-color: $primary-color;
  }

  &:focus {
    outline: none;

    &:not([aria-disabled=true], [aria-readonly=true]) {
      border-color: $primary-color;
    }
  }

  &[aria-readonly=true] {
    background-color: $gray-3;
    cursor: auto;
  }

  &[aria-disabled=true] {
    background-color: $gray-5;
    cursor: not-allowed;
  }

  &.textarea {
    overflow: auto;
    resize: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  &.search {
    &:focus, &.focused {
      border-color: $primary-color;

      span.placeholder {
        display: none;
      }
    }

    span.placeholder {
      display: block;
      color: $gray-7;
    }

    [role=search] {
      flex: auto;

      &:focus {
        outline: none;
      }
    }
  }

  &.input-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@keyframes switch-on {
  0% {
    transform: translateX(0);
    left: 0;
  }
  100% {
    left: 100%;
    transform: translateX(-100%);
  }
}

@keyframes switch-off {
  0% {
    left: 100%;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    left: 0;
  }
}

.switch-container {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;

    &:not([aria-disabled=true], [aria-readonly=true]) {
      border-color: $primary-color;
    }
  }

  .switch {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
  }

  .spinner {
    position: absolute;
    display: inline-block;
    background-color: white;
    border: 1px solid $gray-6;
    border-radius: 50%;
  }

  .switch-liner {
    position: absolute;
    left: 8%;
    right: 8%;
    height: 1rem;
    width: 84%;
    border: 1px solid $gray-6;
    border-radius: 1.5rem;
    transition: all 300ms ease-in-out;
  }

  &[aria-checked=true] {
    .switch-liner {
      background-color: $success-color;
    }

    .spinner {
      left: 0;
      animation: switch-on 300ms ease-in-out forwards;
    }
  }

  &[aria-checked=false] {
    .switch-liner {
      background-color: $danger-color;
    }

    .spinner {
      right: 0;
      animation: switch-off 300ms ease-in-out forwards;
    }
  }

  &[aria-readonly=true] {
    cursor: auto;

    .switch-liner {
      background-color: $gray-3;
    }
  }

  &[aria-disabled=true] {
    cursor: not-allowed;

    .switch-liner {
      background-color: $gray-5;
    }
  }
}

[role=checkbox] {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray-6;
  border-radius: .25rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  height: 1.5rem;
  width: 1.5rem;

  &:focus {
    outline: none;

    &:not([aria-disabled=true], [aria-readonly=true]) {
      border-color: $primary-color;
    }
  }

  &[aria-checked=true] {
    background-color: $primary-color;

    svg {
      visibility: visible;
      color: white;
    }
  }

  &[aria-checked=false] {
    svg {
      visibility: hidden;
    }
  }

  &[aria-readonly=true] {
    cursor: auto;
    background-color: $gray-3;

    svg {
      color: $primary-color;
    }
  }

  &[aria-disabled=true] {
    cursor: not-allowed;
    background-color: $gray-5;
  }
}