@import "../styles/variables";

.rt-editor {
  border: 1px solid lightgrey;
  border-radius: .25rem;

  .editor-toolbar {
    display: flex;
    flex-direction: row;

    .editor-toolbar-item {
      padding: 5px;
      cursor: pointer;
      tab-index: 0;

      &:hover {
        box-shadow: 0 0 0 1px lightgrey;
      }

      &:active {
        outline: none;
        box-shadow:  0 0 .5rem inset rgba(0,0,0,.1);
      }
    }
  }

  .editor-content {
    padding: 6px 12px;
    border-top: 1px solid lightgrey;
    box-shadow:  0 0 .15rem inset rgba(0,0,0,.1);
    height: 300px;
    overflow-y: auto;
    cursor: auto;

    &::-webkit-scrollbar {
      width: .35rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: lightgrey;
      border-radius: 0;
      cursor: pointer;

      &:hover {
        background-color: #ccc;
      }
    }

    &:focus {
      outline: none;
    }
  }
}